<footer class="footer mt-4 shadow">
  <div class="cont">
      <div class="row">
          <div>
              <h2>Avabucks Society</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam et est id sunt iusto earum molestiae praesentium.</p>
          </div>
          <div>
              <h4>Pages</h4>
              <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Our Services</a></li>
                  <li><a href="#">Privacy & Policy</a></li>
                  <li><a href="#">Affiliate Program</a></li>
              </ul>
          </div>
          <div>
              <h4>Help</h4>
              <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Shipping</a></li>
                  <li><a href="#">Order Status</a></li>
                  <li><a href="#">Payouts</a></li>
                  <li><a href="#">Payments Options</a></li>
              </ul>
          </div>
          <div>
              <h4>Social</h4>
              <div class="socialButton">
                  <a><i class='bx bxl-instagram-alt'></i></a>
                  <a><i class='bx bxl-facebook'></i></a>
                  <a><i class='bx bxl-twitter'></i></a>
                  <a><i class='bx bxl-discord-alt'></i></a>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
      <p>Copyright © 2022 All Right Reserved</p>
  </div>
</footer>
