@import "../../../styles.scss";
.header{
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
  p{
    font-weight: 300;
  }
  &::after{
    content: '';
    position: absolute;
    left:0;bottom: 0;
    width: 100%;
    height: 0.5px;
    background-color: gray;
  }
  &::before{
    content: '';
    position: absolute;
    left:0;top: 0;
    width: 90px;
    height: 0.5px;
    background-color: gray;
  }
}

.item{
  position: relative;
  cursor: pointer;
  p{
    display: inline-block;
    background-color:$lightBgColor;
    padding: 8px;
    text-align: center;
    position: absolute;
    top: 0;right: -6px;
  }
}
