.details{
  h1{
    font-weight: 300;
  }
  h2{
    font-weight: 300;
  }
  .info{
    p{
      font-size: 18px;
      font-weight: 300;
    }
  }
  .overview{
    font-size: 22px;
    overflow-y: auto;
    height:250px;
  }
  .genres{
    span{
      background-color: #24baef;
      padding: 5px;
      border-radius: 8px;
      font-weight: 500;
    }
  }
}
.item{
  position: relative;
  cursor: pointer;
  p{
    display: inline-block;
    background-color:#24baef;
    padding: 8px;
    text-align: center;
    position: absolute;
    top: 0;right: -6px;
  }
}
